  <%= link_to repair_booking_path(booking.repair, booking), class: "no-text-deco" do %>
  <div class="border-0 border-bottom-1">
    <%#  %>
    <div class="d-flex bg-primary pb-1 pt-1 pl-2 pr-2 justify-content-between" >
      <%# booking.repair.image %>
      <div>
        <div>
          <%= booking.repair.repair_type %>
        </div>
        <div class="text-dark text-left"><small>
            <%= booking.created_at.strftime("%d/%m/%Y") %>
          </small>        </div>
      </div>
      <div class="align-self-center">
        <strong>
          <%= booking.repair.price %>€
        </strong>
      </div>
    </div>
  </div>
<% end %>
