<div class="card mt-3 bg-dark border-0">
  <h6 class="mt-3 mb-3 text-white"><i class="fas fa-tools"></i>   active repair   <i class="fas fa-tools"></i></h6>
  <%= render 'components/booking_card_md', booking: @active_booking %>
</div>
<%# REQUESTS %>
<div class="card mt-3 bg-dark border-0">
  <h6 class="mt-3 mb-3 text-white"><i class="far fa-clock"></i>   your next repairs  <i class="far fa-clock"></i></h6>
  <% @pending_bookings.each do |booking| %>
    <%= render 'components/pending_booking_card', booking: booking %>
  <% end %>
</div>
<%# total earnings %>
<div class="card mt-3 bg-dark border-0">
  <div class="card-body">
    <div class="d-flex justify-content-between mb-2">
      <div class="pl-2 text-white">
        <h6>total earnings:</h6>
      </div>
      <div class="pr-2 text-white">
        <h6>
          <%= @total_earnings %>€
        </h6>
      </div>
    </div>
    <% @history_bookings.each do |booking| %>
      <%= render 'components/booking_card_total_earnings', booking: booking %>
    <% end %>
  </div>
</div>
<%# Accordion %>
