<div class="home-banner">
  <div class="container mt-4">
    <div class="m-4">
      <h2>BIKES ARE YOUR PASSION?</h2>
      <h2>TECHNICALLY GIFTED?</h2>
      <h2>THEN YOU ARE THE RIGHT ONE.</h2>
      <%= link_to dashboard_path do %>
        <button type="button" class="btn-submit">REQUEST</button>
      <% end %>
    </div>
  </div>
</div>

<div class="img-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1562615193-cbeef074a501?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2009&q=80);">
</div>

<div class="banner-howto">
  <div class="container">
    <h3 class="mt-4 mb-4">HOW DOES IT WORK?</h3>
    <ol>
      <h3 class="mt-4 mb-4"><li>ACCEPT REQUEST</li></h3>
      <h3 class="mt-4 mb-4"><li>DRIVE TO CUSTOMER</li></h3>
      <h3 class="mt-4 mb-4"><li>REPAIR BIKE</li></h3>
      <h3>HAVE THE ACCEPTANCE REPORT SIGNED!</h3>
    </ol>
  </div>
</div>



