<div class="border-primary">

  <div class="d-flex" >
    <%# booking.repair.image %>
    <div class="avatar"></div>
    <%= booking.repair.repair_type %>
  </div>
  <div></div>
  <div>
    <%# booking.mechanic.photo %>
    <%= booking.mechanic.name %>
  </div>
  <div>
    map
  </div>
</div>