<div>
  <div class="d-flex space between" >
    <%# booking.repair.image %>
    <%= booking.repair.repair_type %>
  </div>
  <div></div>
  <div>
    <%# booking.mechanic.photo %>
    <%= booking.mechanic.name %>
  </div>
  <div>
    map
  </div>
</div>