// Specific CSS for your home-page

.home-banner {
  padding-top: 160px;
  padding-bottom: 250px;
  background: #C4BBFA;
  button {
    margin-top: 50px;
  }
}

.img-banner {
  background-size: cover;
  background-position: center;
  padding: 140px 0;
}

.banner-howto {
  background: black;
  color: white;
  padding: 25px;
}
