// Specific CSS for your home-page
.homepage-background {
  background: #bfd4e1;
  padding-top: 30px;
}

.title-banner {
  padding: 10px;
}

.img-banner {
  background-size: cover;
  background-position: center;
  padding: 140px 0;
}

.banner-howto {
  background: #C4BBFA;
  color: white;
  padding: 25px;
  height: 301px;
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0;
    text-align: left;
  }
  button {
    margin-top: 16px;
    color: white;
    background-color: black;
  }
}

