<p class="text-muted"><i class="fas fa-wrench mr-2"></i><%= @booking.user.name %> </p>

<div class="border-top">
  <span> <%= @booking.repair.duration %> minutes</span>
  <span>On arrival you have this long to complete the repair</span>
</div>
