<div class="row">
  <div class="col">
    <div class="p-3 d-flex">
      <p class="text-muted mr-4"> <i class="fas fa-cog mr-2"></i><%= @booking.repair.repair_type %> </p>
      <p class="text-muted"><i class="far fa-user mr-2"></i><%= @booking.user.name %> </p>
    </div>
  </div>
</div>
