<div class="d-flex mt-3 justify-content-center mb-2">
  <h5 class="text-muted mr-3">Customer:</h5>
</div>

<div class="d-flex justify-content-center align-items-center text-muted mb-3">
  <%= cl_image_tag @booking.user.photo.key, height: 42, width: 42, crop: :fill, class: 'avatar-booking-show mr-3' %>
  <h5> <%= @booking.user.name %> </h5>
</div>
