<div class="container">

  <%= link_to ('<i class="fas fa-long-arrow-alt-left mt-3"></i>').html_safe, repair_location_path(@repair) %>

  <!-- stages 1,2,3 -->
  <div class="row pl-3 pr-3">

    <div class="col text-center text-muted">
      <i class="fas fa-wrench"></i>
      <p>issue</p>
    </div>

    <div class="col align-self-center text-muted">
      <i class="fas fa-ellipsis-h"></i>
    </div>

    <div class="col text-center text-muted">
      <i class="fas fa-location-arrow"></i>
      <p>location</p>
    </div>

    <div class="col align-self-center text-muted">
      <i class="fas fa-ellipsis-h"></i>
    </div>

    <div class="col text-center">
      <i class="far fa-images"></i>
      <p>photos</p>
    </div>

    <p>Upload photos of the issue to give our mechanic an clearer idea</p>
    <ol>
      <li>Close up photo</li>
      <li>General photo</li>
    </ol>

  </div>

  <div class="card-booking">
    <%= render "form", booking: @booking %>
  </div>

</div>
