<div class="banner">
  <div class="container">
    <div id="map"
      style="width: 100%; height: 300px; mt-2"
      data-marker="<%= @customer_marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class=card-booking>
      <p>Current location</p>
      <%# here render repir.type %>
      <h2><%= @booking.repair.repair_type %></h2>
      <%#= render "repairs/show", repairs :@repairs %>
      <%= render "form", booking: @booking %>
    </div>
  </div>
</div>
  


  

