<div class="banner">
  <div class="container">
    <h2>Map is here</h2>
    <p>current location</p>
  </div>
</div>

  <%# here render repir.type %>
  <h2><%#= @booking.repair.type %></h2>
  <%#= render "repairs/show", repairs :@repairs %>
  <%= render "form", booking: @booking %>


  

