<div class="home-banner">
  <div class="title mt-2">
    <div class="">
      <h2>BROKEN BIKE? <br>WE GOT YOU.</h2>
    </div>
  </div>
  <div class="img-banner" style="background-image: url(https://source.unsplash.com/6I7PthWd8BI);">
  </div>

  <div class="banner-howto mt-2">
    <div class="container">
      <h3 class="mt-2 mb-2">HOW DOES IT WORK?</h3>
      <ol>
        <h3 class="mt-2 mb-2"><li>REQUEST</li></h3>
        <h3 class="mt-2 mb-2"><li>MECHANIC COMES</li></h3>
        <h3 class="mt-2 mb-1"><li>FIXED</li></h3>
      </ol>
    </div>

  <div class="container mt-1">
    <div class="m-3">
      <%= link_to repairs_path do %>
        <button type="button" class="btn-submit">REQUEST</button>
      <% end %>
    </div>
  </div>
</div>