<div class="home-banner">
  <div class="container mt-4">
    <div class="m-4">
      <p>Bicycle broken? Our mechanics come to you.</p>
      <%= link_to root_path do %>
        <button type="button" class="btn btn-light">New Request</button>
      <% end %>
    </div>
  </div>
</div>



