<div class="home-banner">
  <div class="container mt-4">
    <div class="m-4">
      <h2>BROKEN BIKE?</h2>
      <h2>WE GOT YOU.</h2>
      <%= link_to root_path do %>
        <button type="button" class="btn-submit">REQUEST</button>
      <% end %>
    </div>
  </div>
</div>

<div class="img-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://source.unsplash.com/6I7PthWd8BI);">
</div>

<div class="banner-howto">
  <div class="container">
    <h3 class="mt-4 mb-4">HOW DOES IT WORK?</h3>
    <ol>
      <h3 class="mt-4 mb-4"><li>REQUEST</li></h3>
      <h3 class="mt-4 mb-4"><li>MECHANIC COMES</li></h3>
      <h3 class="mt-4 mb-4"><li>FIXED</li></h3>
      <h3>Ride on!</h3>
    </ol>
</div>
</div>



