.card-main {
  overflow: hidden;
  background-color: white;
}

.card-main h1 {
  font-weight: bold;
  color: #000;
  margin: 16px;
  margin-top: 10px;
  text-align: left;
}
.card-repair {
  overflow: hidden;
  height: 150px;
  width: 320px;
  border-radius: 8px;
  background: #F4F3F3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-repair img {
  height: 100%;
  width: 150px;
  border-radius: 6px;
  object-fit: cover;
}

.card-repair h2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0;
  margin-bottom: 6px;
}

.card-repair p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 2px;
  color: #000;
}

.card-repair-show {
  // margin-top: 100px;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img {
    width: 100%;
    border-radius: 14px 14px 0px 0px;
    // padding: 16px;
  }
}

.card-booking {
  overflow: hidden;
  // width: 320px;
  display: flex;
  justify-content: center;
  position: relative;
}

.stages-card {
  overflow: hidden;
  height: 70px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 14px;
  padding-left: 24px;
  padding-right: 24px;
}

#new_booking {
  margin: 16px;
}

#text-lilac {
  color: #C4BBFA;
}

.text-light-grey {
  color: #E0E0E0;
}
