.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: white;
//   opacity: 0.75;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   opacity: 1;
// }
.footer .fa-heart {
  color: #D23333;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 100px;    /* Footer height */
}
