.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: white;
  position: absolute;
  // bottom: 20px;
  width: 100%;
}

.footer span {
  // padding-left: 10px;
  font-size: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 50px;    /* Footer height */
}
