.marker {
    background-image: url('bicycle.png');
    color: $parple;
    background-size: cover;
    width: 38px;
    height: 30px;
    // border-radius: 50%;
    cursor: pointer;
    padding-right: 30px;
  }