<!-- stages 1,2,3 -->
<div class="stages-card">
  <div class="row">

    <div class="col text-center text-light-grey">
      <i class="fas fa-wrench"></i>
      <p>issue</p>
    </div>

    <div class="col align-self-center text-light-grey">
      <i class="fas fa-ellipsis-h"></i>
    </div>

    <div class="col text-center">
      <i class="fas fa-location-arrow"></i>
      <p>location</p>
    </div>

    <div class="col align-self-center text-light-grey">
      <i class="fas fa-ellipsis-h"></i>
    </div>

    <div class="col text-center text-light-grey">
      <i class="far fa-images"></i>
      <p>photos</p>
    </div>

  </div>
</div>

<div class="container">

  <%= link_to ('<i class="fas fa-long-arrow-alt-left mt-3"></i> back').html_safe, repair_path(@repair) %>

  <div class="d-flex justify-content-center pb-2">
    <h4 id="text-lilac">Confirm your location:</h4>
  </div>

  <div id="map"
    style="width: 100%; height: 480px;"
    data-marker="<%= @customer_marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    <%# send a data to distinguish this map with the map of show.html.erb %>
    data-myid="first">
  </div>

  <%= link_to new_repair_booking_path(@repair) do %>
    <button class="btn-lilac mt-3 mb-3">Continue</button>
  <% end %>

  <%#= link_to 'Continue', new_repair_booking_path(@repair), :class => "btn" %>

</div>
